################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DATA/SOUND/MUSIC
/DATA/SCRIPTS
/DATA/MAPS
/DATA/art
/Manual
/CRITTER.DAT
/ddraw.dll
/f1_res.dll
/f1_res.ini
/f1_res_change.log
/ReadMe.txt
/Readme.rtf
/MASTER.DAT
/GameuxInstallHelper.dll
/falloutwHR.exe
/FALLOUTW.EXE
/FalloutLauncher.exe
/Fallout1_High_Resolution_Patch_4.1.8.exe
/fallout.ico
/f1_res_README.rtf
/f1_res_patcher.exe
/f1_res_Config.exe
/DATA/SAVEGAME/SLOT06
/DATA/SAVEGAME/SLOT08
/DATA/SAVEGAME/SLOT07
/DATA/SAVEGAME/SLOT01/VAULT13.SAV
/DATA/SAVEGAME/SLOT01/SHADYW.SAV
/DATA/SAVEGAME/SLOT01/SHADYE.SAV
/DATA/SAVEGAME/SLOT01/RAIDERS.SAV
/DATA/SAVEGAME/SLOT01/JUNKENT.SAV
/DATA/SAVEGAME/SLOT01/HUBENT.SAV
/DATA/SAVEGAME/SLOT01/HOTEL.SAV
/DATA/SAVEGAME/SLOT01/CAVES.SAV
